@charset "EUC-KR";
body{
	margin:0;
	height:100%;
}
ul{
	display:inline-block;
	list-style-type:none;
	margin: 0;
	padding: 0;
	padding-inline-start:0;
	margin-block-start:0;
	margin-block-end:0;
	text-align: center !important;
}
li{
	display: inline-block;
}
p{
	margin:0;
}
a{
	text-decoration: none;
	font-family: serif;
	color:#337ab7;
}
img{
	display: inline;
    max-width: 30%;
    max-height: 100%;
    margin : 10px 10px;
    vertical-align:middle;
    border: 1px solid aqua;
}
.center input, select{
	border-radius: 30px;
	width:100px;
	height:30px;
}
.searchbar{
	width:200px !important;
	height:60px !important;
}
	.content {
		display:inline-block;
		height:100px;
	}
	.text{
		display:block;
		width: 80%;
		height: 500px;	
		padding:6px 12px;
		font-size:14px;
		line-height: 1.42857143;
		color:#555;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius:4px;
	}
	
.main_blk{
	display: block;
	width:100%;

	text-align: center;
	font-size: 30px;
}
.tc{
	text-align: center;
}
.logo{
	margin-top:30px;
	height:100px;
	font-size: 50px;
	font-family:serif;
	margin-bottom: 30px;
	color: aqua;
	text-align: center;
}
.nav{
	display:block;
	width:100%;
	background-color: aliceblue;
	text-align: center;
	font-size: 30px;	
}
.nav li{
	font-size: 25px;
	font-family: sans-serif;
	color: black;
	margin : 0 10px;
}
.nav li:hover{
	opacity: 0.5;
}
.nav button{
  background-color: aliceblue;
  border: none;
  color: black;

  font-size: 25px;
  cursor: pointer;
}
.nav button:hover {
  background-color: RoyalBlue;
}
.navClick{
	border-bottom: 1px solid blue;
}

.textright{
	position:absolute;
	display:inline-block;
	right:0;
	padding-right: 30px;
	
}
.c1{
	clear:both;
	font-family: sans-serif;
	font-size: 25px;
	margin: 50px 0;
	height: auto;
	text-align: left;
}
.fl{
	float: left;
}
.fr{
	clear:both;
	float: right;
}
.c2{
		clear:both;
	font-family: sans-serif;
	font-size: 25px;
	margin: 50px 0;
	height: auto;
	text-align: left;
}
.tr{
	text-align: right;	
}
.footer{
	width:100%;
	height:100px;
	background-color: gray;
	clear: both;
	font-size: 20px;
	margin-top: 100px;
}
.footer ul{
	display: list-item;
}
.footer li{
	display: list-item;
	text-align: center;
}
div.body{

	margin-left:10%;
	width:80%;
	margin-top: 50px;
	position: relative;
	font-family: serif;
	color:maroon;
	height: auto;
}
.body p{
	width:65%;
	display: inline-block;
}

div.body:after {

	background-repeat:no-repeat;
	background-size:100%;
	background-color:rgba(255,255,255,0.5);
	    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	background-image:url(/resources/img/theather.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
    font-family: serif;
	color:aqua
}
.form-control{
 	width:80% !important;	
 	margin: 20px 0;
}
#title, #val ,#file{
	padding-left:5%;
	display: inline-block;
}
.page2{
	/* margin-left:30%; */
	text-align: center !important;
}

#list{
	min-height: 65vh !important;
   margin: 0 auto -100px;
}
.ml10{
	margin-left:5%;
}
.title{
	width:75%;
}
.table{
	width:90% !important;
}
.center{
	margin-top: 30px;
	text-align: center;
}
.inline{
	margin-top: 30px;
	margin: 0 30px;
	display: inline-block;
	float: left;
	text-align: center;
}
.w30{
	width:30%;
}
.w60{
	width:60%;
}
.visual{
	margin-left: 20px;
	display: inline-block;
	width:45%;
}
.container {
	min-height: 50%;
   margin: 0 auto -100px;
}
.container button{
	border:none;
	background-color: white;

}


.star{
	cursor: pointer;
}
#star div{
	display: inline-block;
}
p.star{
	white-space: nowrap;
}
.ui-datepicker-calendar {
    display: none;
 }
 
.recommend{
	margin-top: 30px;
	margin: 0 30px;
	display: inline-block;
	margin-left:30%;
	text-align: center;
	width:40%;
	min-height: 65vh;
/*    	margin: 0 auto -100px;
}

.page-container h1{
	text-shadow: 0 1px 4px rgba(0,0,200,0.9);
}
.page-container button{
	background:rgba(0,0,200,0.5);
	border: 1px solid rgb(0,0,200);
}
.page-container .fieldset{
	border-width: 2px;
    border-style: groove;
    border-color: aqua;
    border-image: initial;
}
.page-container legend{
	width: auto;
	display: block !important;
	color:black;
}
.form-group button{
	cursor: pointer;
}
.form-group img{
	max-width:none;
	margin: 0;
}
.card-header h3 {
	color:black !important;
}
.mypage{
	margin-top:50px;
	padding-top:100px;
	margin-left:25%;
	width:50%;
	border: 1px solid black;
	min-height:40vh;
}
